# Backend
DATABASE_URL=postgresql://postgres:PASSWORD@db.SUPABASE_ID.supabase.co:5432/postgres
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# NextAuth (Future use)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
